<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.champlink.sale.generator.mapper.InquiriesDeliveryTimeMapper" >
  <resultMap id="BaseResultMap" type="com.champlink.sale.generator.pojo.InquiriesDeliveryTime" >
    <id column="ROW_ID" property="rowId" jdbcType="BIGINT" />
    <result column="CREATED_BY" property="createdBy" jdbcType="BIGINT" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_BY" property="lastUpdateBy" jdbcType="BIGINT" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="num" property="num" jdbcType="BIGINT" />
    <result column="inquiries_id" property="inquiriesId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROW_ID, CREATED_BY, CREATED_TIME, LAST_UPDATE_BY, LAST_UPDATE_TIME, del_flag, delivery_time, 
    num, inquiries_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale_inquiries_delivery_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sale_inquiries_delivery_time
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sale_inquiries_delivery_time
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTimeExample" >
    delete from sale_inquiries_delivery_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTime" >
    insert into sale_inquiries_delivery_time (ROW_ID, CREATED_BY, CREATED_TIME, 
      LAST_UPDATE_BY, LAST_UPDATE_TIME, del_flag, 
      delivery_time, num, inquiries_id
      )
    values (#{rowId,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=BIGINT}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, 
      #{deliveryTime,jdbcType=TIMESTAMP}, #{num,jdbcType=BIGINT}, #{inquiriesId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTime" >
    insert into sale_inquiries_delivery_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        ROW_ID,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY,
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="inquiriesId != null" >
        inquiries_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        #{rowId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        #{num,jdbcType=BIGINT},
      </if>
      <if test="inquiriesId != null" >
        #{inquiriesId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTimeExample" resultType="java.lang.Integer" >
    select count(*) from sale_inquiries_delivery_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale_inquiries_delivery_time
    <set >
      <if test="record.rowId != null" >
        ROW_ID = #{record.rowId,jdbcType=BIGINT},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=BIGINT},
      </if>
      <if test="record.createdTime != null" >
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null" >
        LAST_UPDATE_BY = #{record.lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="record.lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryTime != null" >
        delivery_time = #{record.deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=BIGINT},
      </if>
      <if test="record.inquiriesId != null" >
        inquiries_id = #{record.inquiriesId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale_inquiries_delivery_time
    set ROW_ID = #{record.rowId,jdbcType=BIGINT},
      CREATED_BY = #{record.createdBy,jdbcType=BIGINT},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{record.lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      delivery_time = #{record.deliveryTime,jdbcType=TIMESTAMP},
      num = #{record.num,jdbcType=BIGINT},
      inquiries_id = #{record.inquiriesId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTime" >
    update sale_inquiries_delivery_time
    <set >
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="inquiriesId != null" >
        inquiries_id = #{inquiriesId,jdbcType=BIGINT},
      </if>
    </set>
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.champlink.sale.generator.pojo.InquiriesDeliveryTime" >
    update sale_inquiries_delivery_time
    set CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_BY = #{lastUpdateBy,jdbcType=BIGINT},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      num = #{num,jdbcType=BIGINT},
      inquiries_id = #{inquiriesId,jdbcType=BIGINT}
    where ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>
</mapper>