<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.champlink.staff.dao.baseInfo.RelationshipSocialMapper">
  <resultMap id="BaseResultMap" type="com.champlink.common.domain.staff.baseInfo.RelationshipSocial">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="row_id" jdbcType="BIGINT" property="rowId" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="relative_name" jdbcType="VARCHAR" property="relativeName" />
    <result column="sex" jdbcType="BIGINT" property="sex" />
    <result column="rs_birthday" jdbcType="TIMESTAMP" property="rsBirthday" />
    <result column="relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="permanent_address" jdbcType="VARCHAR" property="permanentAddress" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  
  <!-- 添加-->
  <insert id="insertRelationshipSocial" parameterType="com.champlink.common.domain.staff.baseInfo.RelationshipSocial">
      insert into stf_relationship_social
            (staff_id, relative_name, sex, rs_birthday, relationship, identity_no, permanent_address, company, position, contact)
      values 
	      (#{staffId}, #{relativeName}, #{sex}, #{rsBirthday}, #{relationship}, 
	      #{identityNo}, #{permanentAddress}, #{company}, #{position}, #{contact})
  </insert>
  
  <!-- 修改 -->
  <update id="updateRelationshipSocial" parameterType="com.champlink.common.domain.staff.baseInfo.RelationshipSocial">
      update stf_relationship_social
      <set>
        <if test="staffId!=null">
            staff_id = #{staffId},
        </if>
        <if test="relativeName!=null">
            relative_name = #{relativeName},
        </if>
        <if test="sex!=null">
            sex = #{sex},
        </if>
        rs_birthday = #{rsBirthday},
        <if test="relationship!=null">
            relationship = #{relationship},
        </if>
        <if test="identityNo!=null">
            identity_no = #{identityNo},
        </if>
        <if test="permanentAddress!=null">
            permanent_address = #{permanentAddress},
        </if>
        <if test="company!=null">
            company = #{company},
        </if>
        <if test="position!=null">
            position = #{position},
        </if>
        <if test="contact!=null">
            contact = #{contact}
        </if>
      </set>
      where row_id = #{rowId}
  </update>
  
  <!-- 根据人员id删除 -->
  <delete id="delRelationshipSocialListByStaffId">
    delete from stf_relationship_social where row_id = #{rowId}
  </delete>
  
  <!-- 根据人员id查询 -->
  <select id="queryRelationshipSocialList" resultMap="BaseResultMap">
    select * 
    from stf_relationship_social
    where staff_id = #{staffId}
  </select>
  
  <select id="getByRowId" resultMap="BaseResultMap">
    select * 
    from stf_relationship_social
    where row_id = #{rowId}
  </select>
  
  <!-- 根据人员id删除 -->
  <delete id="delAllByStaffId">
    delete from stf_relationship_social where staff_id = #{staffId}
  </delete>
</mapper>